import(AnnotationDbi)

### Don't export TxDb.Hsapiens.NCBI.hg38.MANE (the object defined in this
### package): it is created and dynamically exported at load time (refer
### to R/zzz.R for the details).


